@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

* {
  margin: 0;
  padding: 0;
  cursor: default;
}


/*NAVBAR---------------------------------------------------------------------------------------------------------------------*/
header {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 1);
  }
  
  .somosjade {
  display: inline-flex;
  cursor: default;
  font-family: "Source Sans Pro", sans-serif;
  float: left;
  position: absolute;
  color: #52B69A;
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(90deg, #02cab6, #00A97F);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: -5px;
 margin-left: -600px;
 }

  nav {
    display: inline-flex;
    margin-left: 700px;
    margin-top: -5px;
    
    
  }
  
  nav button {
  margin-top: 15px;
  margin-left: 22px;
  }

.outdoor {

width: 2000px;
height: 400px;
}

.botton {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .botton::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .botton::before {
    top: -1em;
    left: -1em;
   }
   
   .botton::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .botton:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .botton:hover {
    color: rgb(10, 25, 30);
   }
   
   .botton:active {
    filter: brightness(.8);
   }
   /** Neste bloco específico,o estilo foi importado mas eu irei explicar: a 1 caixa determina o estado inicial do nosso botão a 1 2 e 3 determina a acão de colorir e o modo como ela ocorrerá no item e o 4 e 5 é para a mudança acontecer ao o usuário passar o mousse por cima do elemento */

.container {
      display: flex;
      text-aling: center;
      border: 30px 30px 35px 35px #6ee2e2 solid;
      width: 2000px; /**ajeitar? */
}

.container div {
 
    padding: 20px;
  
}

.item-box-2 {
    background-color: #00ad9f;
   color: #fff;

   
    
}

.item-box-3 {
    background-color: #fff;
    color: #00ad9f;
}

.item-box-4 {
    background-color: #00ad9f;
    color: #fff;
}

.item-box-5 {
    background: #fff;
    color: #00ad9f;
}

.Letras {
    text-decoration: none;
    font-family: Verdana;
    font-height: 15px ;
    font-style: normal;
    background-color: #00ad9f;
    border: 20px 20px 25px 25px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.Letras:hover {
    background-color: #ffbd40;
}

.texto {
         text-aling: center;
         text-decoration: none;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-height: 100px;
         
       
   
}

footer {
       
     
      
      padding: 20px;
      width: 2000px;
      height:  80px;
      border: 30px 30px 35px 35px #66cccc solid;
      background-color: #00ad9f;
      color: #cc9a;
      margin-right: 500px;
      
}



#L { 
    text-decoration: none;
    font-family: Verdana;
    font-height: 15px ;
    font-style: normal;
    background-color: #ffffff;
    border: 20px 20px 25px 25px;
    color:#00ad9f;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.4s;
    cursor: pointer;
}

#L:hover {
    
    color: #ffbd40;
   
}

.T:hover {
    color: #ffbd40;
}

.barra {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #fff;
}

.button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button:active {
    transform: translateY(-1px);
  }

  .code {
    width: 600px;
    height: 600px;
  }
  .music {
    background-color: #ffbd40;
    border-radius: 10px;

  }
  
 
  
  
  @media screen and (max-width: 768px) {

  
  
  body {
       width: 1500px;
   }

   header {
       width: 100%;
   }
  
   .container
   {
      width: 1500px;
   }
   .somosjade {
    margin-left: -600px;
    margin-bottom: -40px;
    font-size: 60px;
   }
   

   nav {
     width: 100%;
   }
   .outdoor {
       width: 1500px;
   }

   .nav button {
    width: 100%;
    height: 100%;
   }

   
   img {
       width: 100%;
   }

   .item-box-1 {
    width: 1500px;

  }
  
  .item-box-2 {
    width: 100%;
  }
  .item-box-3 {
    width: 100%;
  }
  .item-box-4 {

    width: 100%;
  }
  .item-box-5 {
    width: 100%;
  }

   .Letras {
       width: 100%;
   }
   
   #L {
       width: 100%;
   }

   footer {
       width: 100%;
   }

  }
